<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calligraphy.dao.ClientVserionMapper">


	<select id="queryNew" resultType="com.calligraphy.dto.ClientVserion">
		SELECT  * from app_version where versiontype = #{versiontype}  ORDER BY update_date DESC LIMIT 0,1;
	</select>

</mapper>