<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.calligraphy.dao.TestDtoMapper">
	<insert id="insert">
		INSERT INTO testdto(
			id, 
			str,
			ins
		) VALUES (
			#{id}, 
			#{str},
			#{ins}
		)
	</insert>

	<select id="find" resultType="com.calligraphy.dto.TestDto">
		SELECT  * from testdto where id = #{id}
	</select>

</mapper>